# dependencies (bun install)
node_modules

# output
out
dist
*.tgz
packages/*/dist

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# reset build folders
/packages/preset/css
/packages/preset/jsx
/packages/preset/patterns
/packages/preset/tokens
/packages/preset/types

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# VS Code / Cursor workspace files
*.code-workspace

# Finder (MacOS) folder config
.DS_Store

# styled-system
styled-system